@import url(https://fonts.googleapis.com/css?family=Cousine:400,400italic,700);
body {
  background: #9fa0a3;
  color: #1e1b13;
  font-family: "Cousine", monospace;
  line-height: 1.6;
  font-size: 120%;
}
.container {
  max-width: 30em;
  width: 100%;
  margin: 3em auto;
  padding: 1em 1.2em 1.2em 2.2em;
  background: #dbd5d2;
  border-left: 1em #1e1b13 solid;
  box-shadow: 0 22px 64px -6px rgba(0,0,0,0.2);
  border-radius: 2px;
}
a {
  text-decoration: none;
  color: #8d8e93;
}
.sub {
  color: #1e1b13;

}
a:hover {
  color: #7d7e83;
}
h1 {
  font-size: 2em;
}

#menu-slider.hide {
    left: -100%;
}
#menu-slider {
    height: 100%;
    background-color: #2f3e4e;
    overflow-y: auto;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s;
    z-index: 9999;
}
#menu-slider ul {
    margin: 0;
    padding: 0;
    margin-top: 80px;
}
#menu-slider ul li {
    list-style-type: none;
}
#menu-slider ul li a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
}
#menu-slider ul li a:hover {
    color: #d74703;
}

@media all and (max-width: 43em) {
  .container {
    padding: 0;
    width: 90%;
    border-left: none;
    box-shadow: none;
    margin: 3em auto;
  }
  body {
    background: #dbd5d2;
  }
}

footer{
    background-color: #272727;
}
footer #copyright {
    background-color: #343434;
}

footer i{
    font-size: 22px;
}

@media all and (max-width: 32em) {
  body {
    font-size: 100%;
  }
}
